body {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  padding: 30px 30px;
  font-family: "Roboto Condensed";
  font-weight: 400;

  @media (max-width: 800px) {
    padding: 0;
  }
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}

button {
  background: var(--color-white);
}

:focus-visible {
  outline: 2px dashed var(--color-black);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

.mainWrapper {
  display: flex;
  gap: 20px;

  @media (max-width: 800px) {
    flex-direction: column-reverse;
    gap: 30px;
    padding-bottom: 50px;
  }
}

.appContent {
  padding-top: 2rem;

  @media (max-width: 800px) {
    padding-top: 3rem;
  }
}

.appContentFull {
  padding-top: 0;
}

::selection {
  background: var(--color-black);
  color: var(--color-yellow);
}

::-moz-selection {
  background: var(--color-black);
  color: var(--color-yellow);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray-3) var(--color-gray-1);
}

@media (max-width: 500px) {
  body {
    padding-bottom: 0;
  }

  .taskPage {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

/* Отключаем автозаполнение на всех полях */
input,
textarea,
select {
  -webkit-autofill: none;
  autocomplete: off;
}

/* Убираем жёлтый фон у автозаполненных полей */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

/* Для Firefox */
input,
textarea {
  filter: none !important;
}