:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-dark-1: #1E1E1E;
  --color-dark-2: #2C2C2C;

  --color-gray-1: #F5F5F5;
  --color-gray-2: #D9D9D9;
  --color-gray-3: #B3B3B3;
  --color-gray-4: #757575;

  --border: 1px solid var(--color-gray-2);
  --border2: 0.2rem solid black;
  --border-radius: 0;

  --box-shadow: 0 4px 4px -4px rgba(12, 12, 13, 0.05), 0 16px 32px -4px rgba(12, 12, 13, 0.1);
  --shadow: rgb(0, 0, 0);
  --input-height: 40px;

  --transition-duration: 0.2s;

  --bg-azure: rgb(67, 188, 205);
  --color-checked: #b2b7de73;
  --color-orangered: rgb(255, 69, 0);
  --color-orangerede: rgba(255, 68, 0, 0.82);
  --color-yellow: rgb(249, 200, 14);
  --color-gold: rgb(203, 146, 3);

}

