.permaItem {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding-inline: 0;
  padding-left: 12px;

  max-height: 42px;
  height: 100%;

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  border: var(--border);
  box-shadow: 0.313rem 0.313rem 0px 0px var(--shadow);

  &:hover {
    background-color: var(--color-gray-1);
  }

  &.isDisappearing {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
}

.link {
  flex: 1;
  color: var(--color-dark-1);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  
  &:hover {
    color: var(--color-orangered);
    text-decoration: underline;
  }
}

.deleteButton {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-left: auto;
  padding: 0;
  color: var(--color-gray-4);
  background-color: transparent;
  border: none;
  border-radius: inherit;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-dark-1);
  }

  &:active {
    scale: 1.05;
  }

  * {
    pointer-events: none;
  }
}

.permaItem.isDisappearing~.permaItem {
  transform: translateY(calc(-100% - var(--todoListRowGap, 12px)));
  transition-delay: var(--transition-duration);
  transition-duration: var(--transition-duration);
  pointer-events: none;
}
.button:disabled {
    background-color: var(--color-gray-3);
    border-color: var(--color-gray-3);
    cursor: not-allowed;
}

